.article {
    margin: 1rem auto;
}

.article__title {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.article__edge {
    text-decoration: none;
    color: $font-color;
    text-align: center;
}