.difficulty-form {
    border: 0.1rem solid $button-background;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    text-align: center;
    width: 40%;
    margin: 1rem auto;
}

.difficulty-form__label {
    display: block;
    font-size: 1.2rem;
}