.finish__title {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem auto;
}

.finish__surrender-path {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish__surrender-path__title {
    font-size: 1.8rem;
}

.finish__home-button {
    display: block;
    margin: 1rem auto;
}