.final-score {
    text-align: center;
    width: 30%;
    display: block;
    margin: 2rem auto;
}

.final-score__name,
.final-score__rank {
    font-size: 2.5rem;
    border-bottom: 0.1rem solid $button-background-hover;
    letter-spacing: 0.2rem;
    padding: 0.5rem 1rem;
}

.final-score__starting-article,
.final-score__score {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid $button-background-hover;
    padding: 0.5rem 1rem;
}

.final-score__title {
    font-size: 1.7rem;
    border-bottom: 0.1rem solid $button-background-hover;
    padding: 0.5rem 1rem;
}

.final-score__path {
    text-align: center;
    display: block;
    margin: 1rem;
    border-left: 0.2rem solid $button-background-hover;
    list-style-type: none;
}

.final-score__rank-number {
    font-size: 3rem;
    font-weight: bold;
}