.header {
    background-color: $header-background;
    margin: 0 -1rem;
}

.header__link {
    text-decoration: none;
}

.header__link__title {
    font-size: 4rem;
    color: $font-color;
    text-align: center;
    margin: 0;
    padding: 2rem;

    @media only screen and (max-width: 375px) {
        font-size: 3rem;
    }
}

.header__subtitle {
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 0.1rem solid $button-background;
    padding: 3rem;
}