.how-it-works__title {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin: 3rem;
    border-bottom: 1px white solid;
    padding-bottom: 1rem;
    color: $button-background;
}

.how-it-works__text {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem;
}