<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <h3><%= center.title %></h3>

        <ul>
            <% center.links.forEach((link) => { %>
            <li><%= link %> - <%= children[link].links.length %></li>
            <% }); %>
        </ul>

    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>