<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <h3>Instructions:</h3>
        <p>The goal of the game is to reach the Wikipedia article for <span><a
                    href="https://en.wikipedia.org/wiki/Rijeka">Rijeka, Croatia</a></span> only by clicking the links of
            each article in the shortest amount of
            steps possible.</p>
        <p>You will be assigned to a random article. All of the articles have links by which you navigate. The maximum
            distance to the finish (Rijeka article) is 7 steps.</p>
    </div>

    <div>
        <form action="/generate" method="get">
            <input type="radio" value="easy" name="difficulty" checked="true">
            <label for="easy">Easy - unlimited hints</label>

            <input type="radio" value="medium" name="difficulty">
            <label for="medium">Medium - distance to finish is 3 to 5 steps and 2 hint</label>

            <input type="radio" value="hard" name="difficulty">
            <label for="hard">Hard - distance to finish is 5 steps or more and 2 hints</label>

            <button type="submit">START</button>
        </form>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>