<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <h1>Finished!</h1>
    </div>

    <div>
        <h4>Your score: INSERT SCORE</h4>
        <h4>Best possible score: <%= bestPossibleScore %></h4>
        <h5>Your path: </h5>
        <ul>
            <li>INSERT USER'S PATH</li>
        </ul>
        <h5>The shortest path was:</h5>
        <ul>
            <li> <%= shortestPath %> </li>
        </ul>
    </div>

    <div>
        <a href="/">Home</a>
        <a href="/topscore">Top scores</a>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>