<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>
    <div>
        <h1>Wikipedia speedrun</h1>
        <h3>Reach the Wikipedia article for the city of Rijeka, Croatia as fast as you can!</h3>
    </div>

    <div>
        <a href="instructions">START</a>
    </div>

    <div>
        <h5><a href="">Top scores:</a></h5>
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Steps</th>
            </tr>
            <tr>
                <td>Marko</td>
                <td>05:43 min</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Đuro</td>
                <td>02:43 min</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Pero</td>
                <td>10:48 min</td>
                <td>20</td>
            </tr>
        </table>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>