<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia speedrun</title>
</head>

<body>

    <div>
        <h1><a href="/">Home</a></h1>
    </div>

    <div>
        <h5>Top scores:</h5>
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Steps</th>
                <th>Min possible steps</th>
                <th>Starting article</th>
            </tr>
            <tr>
                <td>Marko</td>
                <td>0:43 min</td>
                <td>2</td>
                <td>1</td>
                <td>CNN</td>
            </tr>
            <tr>
                <td>Pero</td>
                <td>02:43 min</td>
                <td>2</td>
                <td>1</td>
                <td>CNN</td>
            </tr>
            <tr>
                <td>Ivan</td>
                <td>05:43 min</td>
                <td>6</td>
                <td>1</td>
                <td>CNN</td>
            </tr>
            <tr>
                <td>Luka</td>
                <td>05:43 min</td>
                <td>7</td>
                <td>1</td>
                <td>CNN</td>
            </tr>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Marko</td>
                <td>0:43 min</td>
                <td>2</td>
                <td>2</td>
                <td>Budapest</td>
            </tr>
            <tr>
                <td>Ivan</td>
                <td>0:33 min</td>
                <td>3</td>
                <td>3</td>
                <td>London</td>
            </tr>
            <tr>
                <td>Luka</td>
                <td>00:43 min</td>
                <td>3</td>
                <td>2</td>
                <td>Budapest</td>
            </tr>
            <tr>
                <td>Pero</td>
                <td>0:53 min</td>
                <td>3</td>
                <td>3</td>
                <td>London</td>
            </tr>
        </table>
    </div>

    <footer>
        <div>How it works?</div>
        <a href="https://github.com/lukaabra">Luka Abramovic</a>
    </footer>
</body>

</html>