body {
    color: $font-color;
    background-color: $body-background;
    margin: 0;
    padding: 0;
    height: 100%;

    @media only screen and (max-height: 655px) {
        margin-bottom: 125px;
    }
}

.container {
    margin: 0 1rem;
    min-height: 100vh;
    position: relative;
    padding: 0;

    @media only screen and (max-width: 650px) {
        padding: 0 0 50px;
    }
}

// Custom button

.button {
    display: block;
    background-color: $button-background;
    color: $font-color;
    width: 7rem;
    margin: 0.75rem auto;
    padding: 0.3rem 0.7rem;
    text-align: center;
    box-shadow: 0.05rem 0.1rem $button-shadow;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: $button-background-hover;
    box-shadow: 0.05rem 0.1rem $button-shadow-hover;
}

.button:focus {
    box-shadow: 0.05rem 0.1rem $button-shadow-focus;
    outline: none;
}

// Custom table

.table {
    margin: 3rem auto 0 auto;

    @media only screen and (min-height: 655px) {
        padding-bottom: 5rem;
    }
}

.table__head {
    background-color: $header-background;
}

.table__cell {
    padding: 0.5rem 1rem;
}

.table-item-cell {
    text-align: center;
    padding: 0.2rem 0.5rem;
}

.table-item-cell__link {
    text-decoration: none;
    color: $link-color;
    border-bottom: 0px solid $link-color;
    transition: border-bottom 0.05s;
    font-size: 1.3rem;
}

.table-item-cell__link:hover {
    border-bottom: 0.1rem solid $link-color;
}