// Colors
$body-background: #153243;
$header-background: #284B63;
$font-color: #FCFCFC;
$button-background: #B4B8AB;
$button-shadow: #F4F9E9;
$button-background-hover: #898E7B;
$button-shadow-hover: #C4CAB9;
$button-shadow-focus: #6A6E5E;
$link-color: #6098BE;
$error: #e63946;